.about{
width: 600px;
margin-top:150px;
height: 400px;
font-size: 1rem;
line-height: 1.6;
font-family: 'Open Sans',sans-serif;
color: #000000;
box-sizing: border-box;
display: block;
padding-left: 20px;
}
.about .content img{height: auto;
	width: 600px;
	max-width: 100%;
}
.text{
	width: 550px;
	max-width: 100%;
}