@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* For logo css */
.logo img {
    height: 25px;
}

/* car listing section css */
.list-group {
    flex-flow: row wrap !important;
}

.list-group-item {
    border: none;
}

.card-img-top {
    border-radius: 10%;
    height: 10rem;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 0%;

}

/* map section css */
.mapouter {
    position: relative;
    text-align: right;
    height: 316px;
    width: 350px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 316px;
    width: 350px;
}
