.logo img {
    height: 25px;
}

.list-group {
 flex-flow: row wrap !important;
}

.list-group-item {
    border: none;
}

.card-img-top {
    border-radius: 10%;
    height: 10rem;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 0%;
}